
.icon-mail:before { content: '\e800'; } /* '' */
.icon-instagram-2:before { content: '\f16d'; } /* '' */
.icon-spotify:before { content: '\f1bc'; } /* '' */
.icon-github-squared:before { content: '\f300'; } /* '' */
.icon-twitter-squared:before { content: '\f304'; } /* '' */
.icon-facebook-squared:before { content: '\f308'; } /* '' */
.icon-linkedin-squared:before { content: '\f30c'; } /* '' */
.icon-instagram:before { content: '\f31e'; } /* '' */
.icon-codepen:before { content: '\f32c'; } /* '' */
.icon-instagram-1:before { content: '\f32d'; } /* '' */
