.App {

display: flex;
flex-direction: column;
align-items: center;
text-align: center;
margin-top:44px;
margin-left:auto;
margin-right: auto;
background-color: #1A1B21;
font-family: 'Inter','Verdana', sans-serif;
width:319px;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
    

}

a {
    text-decoration: none;
    color: inherit;
}


#App-header>img {
    width:319px;
    font-weight: 400;
    color: #F3BF99;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#App-header>h1 {
    margin-bottom: 0;
    font-size: 24px;
 
}

#App-header > h3 {
font-weight: 400;
color: rgb(94, 222, 158);
margin-top:2px;
font-size: 12.8px;
}

#App-header> h4 {
    font-size: 10.24px;
    font-weight: 400;
    color: #F5F5F5;
    margin-top:0;
}


#App-buttons {
    margin: 10px 0px;
    width:80%;
    display: flex;
    justify-content: space-between;
}
.btn{
width: 120px;
border-radius: 6px;
padding: 8px;
font-size: 14px;
color: #fff;
background-color: rgb(22, 75, 52);
transition: transform 0.2s ease-out 0s;
}

.btn:hover {
    transform: translateY(-3px);
    background-color: rgb(28, 94, 65);
}

/* #mail-btn {
    
    color:#fff;
    background-color: #6e5494;
}
#git-btn {
    color: #FFF;
    background-color: #6e5494;
    } */



#App-Info {
    text-align: left;
    padding: 5px 36px 5px;

}

#App-Info>h2 {
    font-size: 16px;
    color: #F5F5F5;
}

#App-Info p {
    font-size: 10.24px;
    line-height: 1.5;
    color: #DCDCDC;
}


#App-Info > h2{
    font-size: 16px;
    color:#F5F5F5;
}


.game-btn {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    /* background-color: #6e5494;
    color: #FFF; */
}

footer {
    background-color: #161619;
    width: 319px;
    height: 64px;
}

.icons {
    padding: 15px 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 28px;
    color: #918E9B;
}

.btn-icon {
    display: inline-block;
    transition: transform 0.2s ease-out 0s;
    }
    
.btn-icon:hover {
    transform: translateY(-3px);
}
