.App {

display: flex;
flex-direction: column;
align-items: center;
text-align: center;
margin-top:44px;
margin-left:auto;
margin-right: auto;
background-color: #1A1B21;
font-family: 'Inter','Verdana', sans-serif;
width:319px;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
    

}


#App-header>img {
    width:319px;
    font-weight: 400;
    color: #F3BF99;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#App-header>h1 {
    margin-bottom: 0;
    font-size: 24px;
 
}

#App-header > h3 {
font-weight: 400;
color: #F3BF99;
margin-top:2px;
font-size: 12.8px;
}

#App-header> h4 {
    font-size: 10.24px;
    font-weight: 400;
    color: #F5F5F5;
    margin-top:0;
}

#App-Info > h2{
    font-size: 16px;
    color:#F5F5F5;
}

#App-Info {
    text-align: left;
    padding: 33px 36px;

}
#App-Info p {
    font-size: 10.24px;
    line-height: 1.5;
    color: #DCDCDC;
}

#App-buttons {
    margin: 0px;
   
    width:80%;
    display: flex;
    justify-content: space-between;
}
.btn{
width: 120px;
border-radius: 6px;
padding: 8px;
font-size: 14px;

}

#mail-btn {
    
    color:374151;
    background-color: #FFFFFF;
}
#lin-btn {
    color: #FFF;
    background-color: #5093E2;
    }

footer {
    background-color: #161619;
    width: 319px;
    height: 64px;
}

.icons {
    padding: 15px 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 28px;
    color: #918E9B;
}